.tj__primary-btn{
    background-color: var(--tj__theme-primary-color);
    color: var(--tj__primary-color);
    border-radius: 30px;
    display: inline-flex;
    padding: 14px 42px;
    align-items: center;
    gap: 10px;
    font-family: var(--tj__primary-font);
}