// Start Shop Sitebar
.tj__shop-sidebar{
    width: calc(30% - 15px);
    @include tj__screen-991{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    @include tj__screen-767{
        width: 100%;
    }
}

// End Shop Sitebar

// Start Sitebar
// .tj__sitebar{
//     .widget{

//     }
// }
// End Sitebar

// Start Services & Blog Sitebar
.tj__services-sitebar{
    width: calc(33.5% - 20px);
    @include tj__screen-1199{
        width: calc(41% - 20px);
    }
    @include tj__screen-991{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    @include tj__screen-767{
        width: 100%;
    }
    // .widget{
    //     background-color: var(--tj__theme-crime);
    //     border-radius: 20px;
    //     padding: 40px;
    // }
}
// End Services & Blog Sitebar

