// ===================== Start Full Template variables ================ //
:root{

    /**
     @Start Defoult Template Color Palet
   */
    --tj__primary-color:#fff;
    --tj__secondary-color:#000;
    /**
     @Start Defoult Template Color Palet
   */

    /**
     @Start Template Color Palet
   */
   --tj__theme-primary-color:#FE750B;
   --tj__theme-secondary-color:#1CBBB4;
   --tj__theme-msu-green:#103741;
   --tj__theme-gray:#747373;
   --tj__theme-davys-gray:#54595F;
   --tj__theme-onyx:#373A3F;
   --tj__theme-crime:#F9F6EF;
   --tj__theme-varpire-black:#080809;
   
   /**
    @Start Template Color Palet
  */


    /** @Start Template Font Family */
    --tj__primary-font:"League Spartan", sans-serif;
    --tj__secondary-font:"Fredoka", sans-serif;
    /** @End Template Font Family */

   
    /**
     @Start Template Font Weight
   */
    --tj__fw-normal: normal;
    --tj__fw-thin: 100;
    --tj__fw-elight: 200;
    --tj__fw-light: 300;
    --tj__fw-regular: 400;
    --tj__fw-medium: 500;
    --tj__fw-sbold: 600;
    --tj__fw-bold: 700;
    --tj__fw-ebold: 800;
    --tj__fw-black: 900;
    /**
     @EndTemplate Font Weight
   */

    /**
     @Start Template Font Size
   */
    --tj__fs-heading-max:64px;
    --tj__fs-h2:48px;
    --tj__fs-h3:30px;
    --tj__fs-h4:24px;
    --tj__fs-h5:20px;
    --tj__fs-h6:18px;
    --tj__fs-heading-min-1:16px;
    --tj__fs-heading-min-2:14px;
    --tj__fs-pg1:22px;
    --tj__fs-pg2:18px;
    --tj__fs-pg-body:16px;
    --tj__fs-pg3:14px;
    /**
     @End Template Font Size
   */

       /**
     @Start Template Line Height
   */
   --tj__lg-heading-max:74px;
   --tj__lg-h2:54px;
   --tj__lg-h3:40px;
   --tj__lg-h4:34px;
   --tj__lg-h5:30px;
   --tj__lg-h6:28px;
   --tj__lg-heading-min-1:22px;
   --tj__lg-heading-min-2:20px;
   --tj__lg-pg1:33px;
   --tj__lg-pg2:27px;
   --tj__lg-pg-body:24px;
   --tj__lg-pg3:22px;
   /**
    @End Template Line Height
  */


    /** @Start Template Border Color */
    --tj__border-color:#D8DDE1;
    /** @End Template Border Color */


      
}
// ===================== End Full Template variables ================ //
