// Start Trending Product Area Home 3
.tj__trending-product-area-home-3{
    &__full-content{
        @include tj__flex-items-center;
        gap: 24px;
        align-items: end;
        @include tj__screen-991{
            display: block;
        }
    }
    &__slider-site{
        @include tj__common-position-relative;
        width: calc(80% - 12px);
        @include tj__screen-1399{
            width: calc(75% - 12px);
        }
        @include tj__screen-1299{
            width: calc(55% - 12px);
        }
        @include tj__screen-1199{
            width: calc(65% - 12px);
        }
        @include tj__screen-991{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            width: 100%;
        }
        @include tj__screen-767{
            margin-bottom: 100px;
        }
    }
    &__banner-site{
        width: calc(20% - 12px);
        @include tj__screen-1399{
            width: calc(25% - 12px);
        }
        @include tj__screen-1199{
            width: calc(30.5% - 12px)
        }
        @include tj__screen-991{
            width: unset;
        }
        .tj__product-discount-banner-trending-home-3{
            @include tj__screen-991{
                margin-left: auto;
                margin-right: auto;
            }
        }

    }
    .tj__trending-product-title-wrapper{
        @include tj__flex-between;
        align-items: end;
        @include tj__screen-767{
            display: block;
            text-align: center;
        }
        .tj__sub-title__right-icon{
            opacity: 0;
            @include tj__screen-767{
                opacity: 1;
            }
        }
    }
}
//  End Trending Product Area Home 3